body {
    margin: 0;
    padding: 0;
    background: #262626;
}
ul {
    padding: 0;
    position: relative;
    width: 100%;
    margin: 10px 10px 30px;
}
ul li {
    list-style: none;
    float: left;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 15px;
    font-family: arial;
    text-transform: uppercase;
}